@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eed891;
    height: 100vh;
}

.wrapper{
    position: relative;
    height: 330px;
    width: 620px;
    background: #d48600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #cc6600;
    border-left: 2px solid #cc6600;
    perspective: 1000px;
}
.wrapper:hover .flip-card{
    transform: rotateY(180deg);
}

.wrapper .flip-card{
    position: relative;
    height: 100%;
    width: 100%;
    background: #d48600;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.flip-card .card{
    display: flex;
    align-items: center;
    justify-content: center;
     height: 100%;
    width: 100%;
    background: #d48600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #cc6600;
    border-left: 2px solid #cc6600;
    backface-visibility: hidden;
    position: absolute;
}
.flip-card .front.card{
    transform: rotateY(180deg);
}

.card span.circle,
.card span.square{
    height: 110px;
    width: 110px;
    border: 10px solid #4d2600;

}
.card span.circle{
    border-radius:50% ;
}

.card span.triangle{
    position: relative;
    height: 0;
    width: 0;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 110px solid #4d2600;
    margin-right: 16px;
    margin-left: 16px;
}
.card span.triangle::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: -40px;
    top: 20px;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 80px solid #d48600;
}


.back.card .home-logo{
    position: relative;
    height: 65px;
    width: 65px;
    border: 5px solid #4d2600;
    border-radius: 50%;
    margin-right: 16px;
}
.home-logo .icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) translateY(6px);
    display: inline-block;
    height: 15px;
    width: 25px;
    background: #4d2600;
}
.home-logo .icon::before{
    content: "";
    position: absolute;
    top: -15px;
    height: 25px;
    width: 25px;
    background: #4d2600;
    transform: rotate(45deg);
}

.back.card .num{
    font-size: 25px;
    font-weight: 600;
    color: #4d2600;
}
.back.card{
    transform: rotateY(180deg);
}

