@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(37deg ,#1cc7d0 , #2ede98);
}

.wrapper{
    height: 400px;
    width: 320px;
    position: relative;
    transform-style:preserve-3d ;
    perspective: 1000px;
}

.wrapper .card{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    transform: rotateY(0deg);
    padding: 5px;
    /* transform-style:preserve-3d ; */
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper:hover > .front-face{
    transform: rotateY(-180deg);
}

.wrapper:hover > .back-face{
    transform: rotateY(0deg);
}

.wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(180deg);
}

.wrapper .back-face img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(375deg ,#1cc7d0 , #2ede98); 
}

.wrapper .back-face .info{
    text-align: center;
}

.back-face .info .title{
    font-size: 30px;
    font-weight: 400;
}

.back-face ul{
    display: flex;
}

.back-face ul a{
    display: block;
    height: 40px;
    width: 40px;
    background: linear-gradient(375deg ,#1cc7d0 , #2ede98);
    text-align: center;
    border: 2px solid transparent;
    line-height: 38px;
    margin: 0 5px;
    border-radius: 50%;
    color: #fff;
     text-decoration: none;
}

.back-face ul a:hover{
    background: none;
    color: #1cc7d0;
    border-color: #1cc7d0;
    text-decoration: none;
}