@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 50px;
    text-align: center;
}
.container{
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(45deg , #7b00e0 , #ae31d9);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.container .wrapper img{
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}
.container:hover{
     height: 470px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.wrapper .title{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}

.wrapper .place{
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 10px 0;
}

.content{
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    padding: 1px 20px 10px 20px;
}
.content .buttons{
    display: flex;
}

.buttons .btn{
    height: 40px;
    width: 150px;
    margin: 0 5px;
}
.buttons .btn button{
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s;
}
 .btn button:hover{
    transform: scale(0.95);
 }
 .container .icons{
    position: relative;
    margin-top: -435px;
    list-style: none;
    margin-left: 10px;
 }
 .container .icons li{
    height: 40px;
    width: 40px;
    margin: 5px 0;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.5s ease;

}
.container .icons li a{
    background-color: #fff;
    color: #7b00e0 !important;
    height: 100%;
    width: 100%;
    display: block;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s;
   text-decoration: none;
 }
 .container:hover .icons li{
    margin-left: 7px;
    opacity: 1;
 }
 .container:hover .icons li:nth-child(2){
    transition-delay: 0.2s;
 }
 .container:hover .icons li:nth-child(3){
    transition-delay: 0.4s;
 }

 .container .icons li a:hover{
    transform: scale(0.9);
 }

 .container:hover .wrapper img.active{
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border:none;
    border-radius: 5px;
 }