@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
   text-align: center ;
    background: #f2f2f2;
}
.container{
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    transition: 0.3s ease-in-out;
}
.container:hover{
    box-shadow: 0 1px 35px 0 rgba(0,0,0,0.3);

}
.container .image{
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}
.container:hover .image{
    transform: translateY(-100px);

}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:opacity 0.5s ease-in-out;
}
.container:hover .image img{
   opacity: 0.7;
}
.container .content{
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
}
.content .info{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 26px;
}
.info h2{
    font-size: 27px;
    margin: 3px 0;
}
.info span{
    color: #1a1a1a;
}
.container ul{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 2;
    list-style: none;
}
.container ul li{
    margin: 0 5px;
}
 ul li a{
    display: block;
    height: 50px;
    width: 50px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    transform: translateY(200px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
 }
 .container:hover ul >li >a{
    opacity: 1;
    transform: translateY(0);
 }

 .container:hover ul >li:nth-child(2) a{
    transition-delay: 0.1s;
 }  

 .container:hover ul >li:nth-child(3) a{
    transition-delay: 0.2s;
 }  
 .container:hover ul >li:nth-child(4) a{
    transition-delay: 0.3s;
 }  
 .container:hover ul >li:nth-child(5) a{
    transition-delay: 0.4s;
 }  