@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    background-color: #131221;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container,
.overlay{
    position: relative;
    height: 450px;
    width: 350px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container::before{
    content: "";
    position: absolute;
    height: 650px;
    width: 650px;
    background-image: conic-gradient(transparent ,transparent,transparent,#fff);
}
.container.active{
    background-color: #000;
}

.container.active::before{
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .overlay{
    position: absolute;
    height: 440px;
    width: 340px;
    background-color: #131221;
    border-radius: 12px;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}