@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    background: #f2f2f2;
}
.card{
    position: relative;
    height: 470px;
    width: 340px;
    display: block;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    transition: 0.4s linear;
}
.card:hover{
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);

}
.card .image{
    background: black;
    height: 400px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    transition:  0.4s ;
}
.card:active .image img{
    opacity: 0.6;
    transform: scale(1.1);
}
.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
    
}
.content .title
{
    font-size: 22px;
    font-weight: 600;
    color: #333333;
}

.content .sub-title
{
    font-size: 18px;
    font-weight: 500;
    color: #e74c3c;
    margin-bottom: 10px;
}
.bottom p{
    color: #666666;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8em;
}
.bottom button{
    float: left;
    padding: 7px 15px;
    font-size: 17px;
    background: #e74c3c;
    color: white;
    font-weight: 500;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.bottom button:hover{
    transform: scale(0.9);
    background-color: #e64533;
}
.bottom{
    display: none;
}