@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
}
.slider{
    max-width: 1150px;
    /* overflow: hidden; */
    display: flex;
}
.slider .card{
    background: #fff;
    flex: 1;
    margin: 0 10px;
}
.slider .card .img{
    height: 220px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider .card .content{
    padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
    text-align: justify;
    margin: 10px 0;
}
.card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn button{
    background-color: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .content .btn button:hover{

}