@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a7ffeb;
    perspective: 1000px;
    transform-style: preserve-3d;

}
.card{
    background: #fff;
    height: 380px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;

}
.card .content{
    color: #202020;
    text-align: center;
    transform-style: preserve-3d;

}

.content .user{
    height: 100px;
    width: 100px;
    background: #33ffcf;
    border: 1px solid #1affc9;
    border-radius: 50%;
    margin: 10px auto;
    transform: translateZ(50px);
}
.user .ri-user-fill{
    font-size: 40px;
    line-height: 100px;
    color: #fff;
}
.content header{
    margin: 20px 0;
    font-size: 32px;
    font-weight: 600;
    transform: translateZ(50px);

}
.content .follow-us{
    font-size: 23px;
    font-weight: 600;
    transform: translateZ(50px);

}
.content .icons{
    margin: 20px 0 10px 0;
    transform: translateZ(50px);

}
.icons a {
    margin: 0 4px;
    text-decoration: none;
}
.icons a span{
    height: 45px;
    width: 45px;
    background: #33ffcf;
    border: 1px solid #1affc9;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}