*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.card{
    position: relative;
    padding-block:5rem;
}
.card__bg,
.card__blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.card__bg{
 object-fit: cover;
 object-position: center;
}
.card__blur{
    backdrop-filter: blur(24px);
}
.card__container{
    position: relative;
    display: grid;
    grid-template-columns: 260px;
    justify-content: center;
    gap: 2rem;
}
.card__article{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}
.card__img{
    border-radius: 2rem;
    transition: transform .4s;
    width: 100%;
}
.card__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg ,
              hsla(0,0%,0%,0) 70%,
               hsl(0,0%,0%) 100%);
}

.card__data{
    color: white;
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
}
.card__name{
    font-size: larger;
    margin-bottom:.25rem ;
}
.card__profession{
    display: block;
    font-size: small;
}
.card__clip{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: hsl(52,90%,50%);
    box-shadow: 0 0 16px 4px hsl(52,90%,50%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    transition: background-color .5s;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: black;
    z-index: 5;
    cursor: pointer;
    transition: transform .5s;
}
.card__pink{
    background-color: hsl(300,90%,50%);
    box-shadow: 0 0 15px 4px hsl(300,90%,50%);
}
.card__yellow{
    background-color: hsl(52,90%,50%);
    box-shadow: 0 0 15px 4px hsl(52,90%,50%);
}
.card__green{
    background-color: hsl(116,90%,50%);
    box-shadow: 0 0 15px 4px hsl(116,90%,50%);
}
.card__article:hover .card__img{
    transform: scale(1.1);
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,0%,.1);
    /* background-color:lime; */
    backdrop-filter: blur(12px);
    padding: 3rem 1.5rem 1.5rem;
    color: white;
    clip-path: circle(8px at 88% 9%);
    transition: clip-path .8s ease-in-out;
}
.info__name{
    font-size: x-large;
    margin-bottom: .5rem;
}
.info__description{
    font-size: small;
    margin-bottom: 1rem;
}
.info__btn{
    display: inline-flex;
    background-color:hsl(116,90%,50%) ;
    box-shadow: 0 0 12px hsl(116,90%,50%);
    padding: .5rem .75rem;
    border-radius: .5rem;
    color: black;
    font-size: small;
    font-weight: 600;
    transition: box-shadow .4s;
}
.info__btn:hover{
    box-shadow: 0 0 20px hsl(116,90%,50%);
}
.info__social{
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    display: flex;
    column-gap: .5rem;
}
.info__icon{
    background-color: hsl(116,90%,50%);
    box-shadow: 0 0 12px hsl(116,90%,50%);
    width: 2rem;
    height: 2rem;
    border-radius: .75rem;
    display: grid;
    place-items: center;
    color: black;
    transition: transform .4s;
    font-size: 1.5rem;

}
.info__icon:hover{
    transform: translateY(-.25rem);
    /* box-shadow: 0 0 20px hsl(116,90%,50%); */
}
.card__article:hover .card__clip{
   transform: rotate(-45deg);
}
.info:hover,
.card__clip:hover ~ .info{
    clip-path: circle(100%);

}


@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }
    
     .card__container{
        grid-template-columns: 1fr;
    }
    .info{
        padding: 1.5rem 1rem;
    }
    
}

@media screen and (min-width: 768px){
    .card__container{
        grid-template-columns: repeat(2, 260px);
    }
}

@media screen and (min-width: 1024px){
    .card{
        height: 100vh;
        display: grid;
        place-content: center;
    }
    .card__container{
        grid-template-columns: repeat(3, 340px);
    }   
    .card__article,
    .card__img{
        border-radius: 3rem;
    }
    .card__data{
        left: 2rem;
        bottom: 3rem;
    }
    .card__profession{
        font-size: medium;
    }
    .card__clip{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2rem;
        top: 1.5rem;
        right: 1.5rem;
    }
    .info{
        padding: 4rem 2rem 2.5rem;
    }
    .info__description,
    .info__btn{
        font-size: medium;
    }
    .info__description{
        margin-bottom: 1.5rem;
    }
    .info__social{
        bottom: 2.5rem;
       left: 2rem;
       column-gap: .75rem;
    }
}