@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}
.container{
    position: relative;
    background-image: url(../img/bg.png);
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo img ,img.chip{
    width: 48px;
    margin-right: 10px;
}
header,.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h5{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.header .chip{
    width: 60px;

}
h6{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}
.container .card-details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-end;
}
h5.number{
    font-size:18px ;
    letter-spacing: 1px;
    margin-top: 4px;
}
h5.name{
    margin-top: 20px;
}