* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #f0f0f0;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.card{
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}
.card img{
    width: 100%;
    min-height: auto;
    height: 250px;
}
.card .card-content{
    padding: 20px;
}
.card .card-content h3{
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}
.card .card-content p{
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}