@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(75deg ,#2980b9 ,#8e44ad);
}
.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 430px;
    width: 350px;
    text-align: center;
    border-radius: 5px;
}
.front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ebf8f9;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s linear;
}
.cover{
    background: linear-gradient(75deg  ,#8e44ad,#2980b9);
    height: 115px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.profile{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    margin-top: 40px;
}
.name{
    font-size: 30px;
    padding-top: 75px;
}
.tag{
    padding: 5px 0;
}
.about{
    margin-top: 10px;
    padding: 0 5px;
    font-size: 12px;
}
h1{
    color: #0d0d0d;
}
p{
    margin: 20px;
    padding: 0 20px;
    text-align: justify;
    font-size: 15px;
    color: #262626;
}
i{
    font-size: 30px;
    padding-left: 20px;
    cursor: pointer;
}
i.ri-facebook-fill{
    padding-left: 0;
    color: #4267b2;
}
i.ri-twitter-fill{
    color: #1da1f2;
}
i.ri-instagram-fill{
    color: #c13584;
}
i.ri-linkedin-fill{
    color: #0a66c2;
}
i.ri-youtube-fill{
    color: #ff0000;
}
.back-face{
    transform: perspective(800px) rotateY(-180deg);
}
.front-face{
    transform: perspective(800px) rotateY(0deg);
}
.container:hover >.back-face{
    transform: perspective(800px) rotateY(0deg);
}
.container:hover >.front-face{
    transform: perspective(800px) rotateY(180deg);
}