@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(45deg ,#d8f2f3 0%, #ebf9f9 100%);
}
.center,.front-face,
.contents,.back-face{
   position: absolute;
}
.center{
     top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   height: 400px;
   width: 290px;
   transform-style: preserve-3d;
   perspective: 1000px;
}
.front-face,.back-face{
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
     transition: transform .7s cubic-bezier(.4 ,.2,.2,1);
}
.contents{
    left: 0;
    top: 50%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p{
   color:#fff;
   font-size: 35px;
   margin-bottom: 15px;
}
.front p::after{
    content: '';
    display: block;
    left: 0;
    right: 0;
    height: 2px;
    width: 100px;
    background: #fff;
    margin:10px;
}
.front span{
   color:#fff;
   font-size: 23px;
}
.back-face{
    transform: rotateY(180deg);
    background: linear-gradient(45deg ,#043348 0% ,#032535 100%);
}
.back{
    color: #fff;
}
.back h2{
    font-size: 3;
    margin-bottom: 5px;
}
.back span{
    font-size: 25px;
}
.icons{
    margin: 10px 0;
}
.icons a i{
    color:#043348;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}
.center:hover > .back-face{
    transform: rotateY(0deg);
}
.center:hover > .front-face{
    transform: rotateY(-180deg);
}