@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-height: 100vh;
    background: #ff7979;
}
.wrapper{
    max-width:1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: relative;
}
.wrapper .card{
    width:calc(33% - 13px);
    border-radius: 3px;
    /* background: #fff; */
    position: relative;
    overflow: hidden;
}
.wrapper .card img{
    width:100%;
    border-radius: 3px;
    transition: all 0.3s ease;

}
.wrapper .card:hover img{
    transition: scale(1.1);
}

.wrapper .card .content{
    position: absolute;
    padding: 10px 20px 22px 20px;
    background: #fff;
    bottom: -50%;
    transition: all 0.3s ease;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
}
.wrapper .card:hover .content{
    bottom: 0;
}

.wrapper .card:hover,
 .card .content .row,
 .card .content .buttons{
    display: flex;
    justify-content: space-between;
 }
 .content .row .details{
    margin-bottom: 10px;
 }
 .content .row .details span{
    font-size: 22px;
    font-weight: 500;
 }

 .content .row .price{
    color: #ff7979;
    font-size: 25px;
    font-weight: 600;
 }

  .content .row .details p{
    color: #333;
    font-size: 12px;
    font-weight: 400;
 }

  .content .buttons{
    margin-left: 20px;
  }

   .content .buttons button{
        width: 100%;
        padding: 10px 0;
        font-size: 17px;
        font-weight: 500;
        border-radius: 3px;
        border: 2px solid #ff7979;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        transition: all 0.3s ease;
   }

   .buttons button:first-child{
        color: #ff7979;
        background: #fff;
        margin-right: 10px;
   }
   button:first-child:hover{
        color: #fff;
        background: #ff7979;
   }
    .buttons button:last-child{
        color: #fff;
        background: #ff7979;
        margin-left: 10px;

   }
   button:last-child{
        background: #ff7979;
        border-color: #ff6666;
   }

   .cart-nav .item-numb{
        font-size: 15px;
        height: 23px;
        width: 23px;
        color: #ff7979;
        border-radius: 50%;
        text-align: center;
        line-height: 22px;
        background: #ffcccc;
        border: 1px solid #ffb3b3;
   }

   .wrapper .cart-nav{
        position: absolute;
        top: -30%;
        right: 0;
        width: 130px;
        padding: 13px 15px;
        background: #fff;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        border-radius: 3px;
   }
   .cart-nav .icon{
        color: #ff7979;
   }

   .cart-nav .icon i{
        font-size: 20px;
   }

   .cart-nav .icon span{
        font-weight: 500;
   }