@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
}
.wrapper , .slide{
    width: 100%;
    height: 100%;
}
.slide .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slide .image-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}
.slide{
    overflow: hidden;
}
.slide::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

 .image-data span.text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
 }

 .image-data h2{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
 }

 a.button{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 25px;
    text-decoration: none;
    color: #333;
    background:#fff ;
    margin-top: 25px;
    transition: all 0.3s ease;
 }
 a.button:hover{
    background-color: #c87e4f;
    color: #fff;
 }

 .nav-btn{
    height: 50px;
    width: 50px;
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 50px;
 }
/* .nav-btn:hover{
     background: rgba(255, 255, 255, 0.4); 
} */

 .nav-btn::before,
 .nav-btn::after {
    font-size: 25px;
    color: #fff;
 }

.swiper-button-next{
    right: 50px;
}
.swiper-button-prev{
    left: 50px;
}
.swiper-pagination-bullet{
    opacity: 1;
    height: 12px;
    width: 12px;
    background: #fff;
    visibility: hidden;
}
.swiper-pagination-bullet-active{
    border: 2px solid #fff;
    background-color: #c87e4f;
}

@media screen and (max-width:768px) {
    .swiper-pagination-bullet{
        visibility: visible;
    }
     .nav-btn{
         visibility: hidden;
     }
}