@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0396FF;
   
}
.container{
    height: 400px;
    min-width: 400px;
    /* background: grey; */
     display: flex;
    align-items: flex-end;

}
.icon-image{
    height: 70px;
    width: 70px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin: 0 5px;
}
.icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform: translateX(80px);
    transition: left 0.5s ,z-index 0s ,transform 0.5s;
    transition-delay:0s , 0.5s ,0.5s ;
}
.icon-image img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(-50% ,-50%);
    border: 3px solid #0396FF;
}

.hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 0;
    transition: transform 0.5s , z-index 0s , left 0.5s;
    transition-delay:0s, 0.5s ,0.5s ;
    pointer-events: none;
}
.hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 3px solid #fff;
    object-fit: cover;
}
.content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    padding: 0 10px;
}
.content:before{
     content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.content .details{
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
}
.content .details::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.details .name{
    font-size: 20px;
}
.details .job{
    font-size: 17px;
    color: #0396FF;
    margin: -3px 0 5px 0;
}
.icon-image:hover .details{
    opacity: 1;
    transform: translateY(4px);
    transition: all 0.3s ease;
    transition-delay: 0.9s;
}
.last:hover .hover-image{
    transition: none;
}
.last:hover .details{
    transition-delay: 0s;
}