@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ecf0f3;
}
.wrapper{
    padding: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   
}
.wrapper,
.social-icons a,
.wrapper .img-area,
.button button{
    background: #ecf0f3;
     border-radius:10px;
    box-shadow: -3px -3px 7px #fff,
                3px 3px 5px #ceced1;
}

.wrapper .img-area{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
}

.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.wrapper .name{
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}
.wrapper .about{
    font-weight: 400;
    color: #44476a;
    font-size: 16px;
}

.wrapper .social-icons{
    margin: 15px 0 25px 0;
}

.social-icons a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50px;
    position: relative;
}

.social-icons a i{
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
    z-index: 5;
}

.ri-facebook-fill {
    color: #426782;
}
.ri-twitter-fill {
    color: #1da1f2;
}
.ri-instagram-fill {
    color: #e1306c;
}
.ri-youtube-fill {
    color: #ff0000;
}

.wrapper .button{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.button button{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    color: #31344b;
    z-index: 4;
}
.button button:first-child{
    margin-right: 10px;
}
.button button:last-child{
    margin-left: 10px;
}
.social-icons a:hover::before,
.button button:hover::before,
.wrapper .icon:hover::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     background: #ecf0f3;
     border-radius:50%;
    box-shadow: inset -3px -3px 7px #fff,
               inset 3px 3px 5px #ceced1;
}

.button button:hover::before{
    border-radius: 5px;
    z-index: -1;
}

.wrapper .social-share{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}
.social-share .row{
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #e0e6eb;
    margin-left:-25px;
}
.row:first-child::before{
    background: none;
}

.social-share .row i.icon-2{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.row:nth-child(1):hover i.icon-2,
.row:nth-child(2):hover i.icon-2,
.row:nth-child(3):hover i.icon-2{
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon{
    height: 35px;
    width: 35px;
    line-height: 35px;
    /* background: red; */
    color: #31344b;
    opacity: 0.7;
    cursor: pointer;
     position: absolute;
     top: 15px;
     text-align: center;
}
.wrapper .icon.arrow{
   left: 15px;
}
.wrapper .icon.dots{
   right: 15px;
}

.wrapper .icon .i{
    position: relative;
    z-index: 5;
}
