@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 100%;
}
.wrapper .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card{
    /* background: red; */
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.carousel .card-1{
    background: #ed1c24;
}
.carousel .card-2{
    background: #0072bc;
}
.carousel .card-3{
    background: #39b54a;
}
.carousel .card-4{
    background: #f26522;
}
.carousel .card-5{
    background: #630460;
}

.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    border: 2px solid #0072bc !important;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active{
    background: #0072bc !important;
}