@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
}
.product-card{
    position: relative;
    max-width: 355px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    overflow: hidden;
    z-index: 3;
    background: #fff;
}

.product-card .logo-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .logo-cart img{
    height: 60px;
    width: auto;
    object-fit: cover;
}

.product-card .logo-cart i{
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease;
}
.product-card .logo-cart i:hover{
    color: #333;
}
.product-card .main-images{
    position: relative;
    height: 210px;
}
.product-card .main-images img{
    width: 300px;
    height: 300px;
    object-fit:cover ;
    transform: rotate(18deg);
    left: 12px;
    top: -40px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.product-card .main-images img.active{
    opacity: 1;
}
.product-card .shoe-detail .shoe_name{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}

.product-card .shoe-detail p{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
}
.product-card .shoe-detail .stars i{
    margin: 0 -1px;
    color: #333;
}

.product-card .color-price .color-option{
    display: flex;
    align-items: center;
}
.color-option .color{
    font-size: 18px;
    font-weight: 500;
    margin-right: 8px;
    color: #333;
 }
.circles{
    display: flex;
  }

  .circles .circle{
    height: 18px;
    width: 18px;
    background: #99c7c4;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
 }
 .price{
    display: flex;
    flex-direction: column;
 }
.price .price-num{
    font-size: 10px;
    font-weight: 600;
    color: #707070;
 }

 .price-letter{
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: #707070;
 }
 .color-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

 }
 .circle.blue.active{
    box-shadow: 0 0 0 2px #fff,
                0 0 0 4px #707070;
 }

 .circles .circle.pink{
    background: #e23d4b;
 }
  .circle.pink.active{
    box-shadow: 0 0 0 2px #fff,
                0 0 0 4px #e23d4b;
 }
 .circles .circle.green{
    background: #02796a;
 }
  .circle.green.active{
    box-shadow: 0 0 0 2px #fff,
                0 0 0 4px #707070;
 }

 .product-card .button{
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
 }

 .product-card .button .button-layer{
    height: 100%;
    position: absolute;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #9708CC, #43CBFF, #9708CC, #43CBFF );
    transition: all 0.4s ease;
    border-radius: 25px;
 }

.product-card .button button:hover .button-layer{
    left: 0;
}
button{
    height: 100%;
    position: relative;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
 }