@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #28223f
}
.container{
    margin: 100px auto;
    background: #231e39;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.75);
    color: #b3b8cd;
    user-select: none;
}
.cover-photo{
   background: url(../img/icon3.jpg);
   height: 160px;
   width: 100%;
   border-radius: 5px 5px 0 0;
   position: relative;
}
.cover-photo .profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #1f1a32;
    margin: 93px 0 0 -175px;
    display: block;
    padding: 7px;
    background: #292343;
    position: absolute;
    left: 198px;
}
.profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 125px;
}
.about{
    margin: 35px;
}
button{
    margin-left: 10px 0 40px 0;
}
.msg-btn , .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    color: #231e39;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
}
.follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
}
.container .icon i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;

}
.container .icon i:hover{
    color: #03bfbc;
    transition: .5s;
}
.icon {
    padding: 20px;
}