@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    display: grid;
    place-items: center;
    height: 100%;
    background: #f2f2f2;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.card{
    height: 290px;
    width: 350px;
    margin: 0 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background: #fff;
    transition: 0.4s;
}
.card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}
.card .img{
    height: 200px;
    width: 100%;
}
.card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card .top-text{
    padding: 5px;
}
.card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
}
.card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}
.card .bottom-text{
    padding: 0 20px 10px 20px;
    /* margin-top: 80px; */
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}
.card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
}
.card .bottom-text .text{
    text-align: justify;
}
.card .bottom-text .btn{
   margin: 10px 0;
   text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
    transform: scale(0.9);
}

@media screen and (max-width: 978px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        max-width: 700px !important;
        margin: 20px 0;
    }
    
}