@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100%;
    text-align: center !important;
    background: #f2f2f2;
}
.wrapper{
    display: grid;
    margin: 200px 90px auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}
.wrapper .box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.wrapper .box .front-face{
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.2);
    transition: all 0.5s ease;

}

.box .front-face .icon{
    height: 80px;
}

.box .front-face .icon i{
    font-size: 65px;
}

.box .front-face span,
.box .back-face span{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.box .front-face .icon i,
.box .front-face span{
    background: linear-gradient(-135deg ,#c850c0 ,#4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;

}

 .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-135deg ,#c850c0 ,#4158d0);
    color: #fff;
    z-index: 1;
    opacity: 0;
    backface-visibility: hidden;
    height: 220px;
    width: 100%;
    padding: 30px;
    transform: translateY(110px) rotateX(-90deg);
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    /* display: none; */
 }

 .box .back-face p{
    margin-top: 10px;
    text-align: justify;
 }

 .box:hover .back-face{
    transform: rotateX(0deg);
    opacity: 1;
 }

 .box:hover .front-face{
    transform: translateY(-110px) rotateX(90deg);
    opacity: 0;
 }