@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #414247;
}
.card{
    max-width: 350px;
    width: 100%;
    /* height: 100px; */
    border: 1px solid #656871;
    border-radius: 10px;
    padding: 30px;
}

.card .header .img{
    height: 70px;
    width: 70px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.card .header{
    display: flex;
    align-items: center;
}

.header .details{
    margin-left: 20px;
}
.details span{
    background: #d9d9d9;
    display: block;
    border-radius: 10px;
     position: relative;
    overflow: hidden;
}
.details .name{
     width: 100px;
    height: 15px;
}

.details .about{
     width: 150px;
    height: 13px;
    margin-top: 10px;
}
.card .content{
    margin: 25px 0;
}
.content .line{
    background: #d9d9d9;
    height: 13px;
    border-radius: 10px;
    margin:10px 0;
    position: relative;
    overflow: hidden;
}
.content .line-1{
    width: calc(100% - 15%);
}
.content .line-3{
    width: calc(100% - 40%);
}
.card .btns .btn{
    height: 45px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

}
.card .btns {
    display: flex;
}
 .btns .btn-1{
    margin-right: 8px;
 }
  .btns .btn-2{
    margin-left: 8px;
 }

 .card .header .img::before,
 .details span::before,
 .content .line::before,
 .btns .btn::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #656871 0%,#888b94 20%, #656871 40% ,#656871 100%);
    background-size:450px 400px ;
    background-repeat: no-repeat;
    animation: shimmer 1s linear infinite;
 } 
 .details span::before,
 .btns .btn-2::before{
    animation-delay:0.2s ;
 }

 @keyframes shimmer {
    0%{
        background-position: -450px 0;
    }
     100%{
        background-position: 450px 0;
    }
 }

