
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
     align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 24px;
    padding: 25px;
    position: relative;
    /* z-index: -1; */
}
.profile-card::before{
    content: '';
    position: absolute;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
    top: 0;
    left: 0;
    /* z-index: 1; */
    opacity: 0.9;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom:10px ;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 600;
    color: #333;

}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
    color: #777;
}
.profile-card .media-buttons{
    display: flex;
    margin-top: 15px;
    align-items: center;

}
.media-buttons .link{
    text-decoration: none;
    background-color: #4070f4;
    margin: 0 7px;
    height: 40px;
    width: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;

}
.profile-card .buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.buttons .btn{
    padding: 8px 24px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
    color: #fff;
    background-color: #4070f4;
}
.buttons .btn:hover{
    background-color: #265df2;
}
.profile-card .analytics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.analytics .data{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    border-right: 1px solid #eee;   
     color: #333;    
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.analytics .data:last-child {
    border-right: none;
}
.analytics .data:hover{
 color: #4070f4;
}
.data i{
    font-size: 20px;
    margin-bottom: 5px;
}