@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    display: grid;
    place-items: center;
    height: 100%;
    background: #17a2b8;
}

::selection{
    background: rgb(23,162,184,0.3);
}

.wrapper{
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper .box{
    background: #fff;
    border-radius: 3px;
    padding: 25px;
    width: calc(33% - 10px);
}

.wrapper .box i.quote{
    font-size: 20px;
    color: #17a2b8;
}

.wrapper .box .content{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .box .info .name{
    font-size: 17px;
    font-weight: 600;
}

.wrapper .box .info .job{
    color: #17a2b8;
    font-size: 16px;
    font-weight: 500;
}

.wrapper .box .info .star{
    margin-top: 2px;
}
 
.box .info .star i{
    color: #17a2b8;
}

.wrapper .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background:#17a2b8 ;
    border-radius: 50%;

}

.box .content .image img{
     height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

@media (max-width: 1045px) {
    .wrapper .box{
        width: calc(50% - 10px);
        margin: 10px 0;
    }
}

@media (max-width: 702px) {
    .wrapper .box{
        width: 100%;
    }
}