@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.image-card{
    position: relative;
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 3px;
    transition: all .4s;
}
.image-card:hover{
    box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.3);
}
.image-card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 180%;
    width: 75%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skew(45deg);
    opacity: .7;
    pointer-events: none;
    transition: .5s;
}
.image-card:hover:before{
    left: -180%;
    transition: all 1s;
}
.image-card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
}
.image-card:hover img{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.image-card h2{
    position: absolute;
    bottom:0;
    width: 100%;
    background: #e74c3c;
    padding: 10px 0;
    color: #f9d6d2;
    border: 1px solid #e64533;
    user-select: none;
    transform-origin:right ;
    transform: perspective(500px) rotateY(-70deg);
    transition: all .5s;
}
.image-card:hover h2{
    transform: perspective(500px) rotateY(0deg);
}
.image-card ul{
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
}
.image-card ul li{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #333;
    cursor: pointer;
    transition: all .5s;
    transform-origin: left;
    transform: perspective(800px) rotateY(90deg);
    border: 1px solid rgba(0,0,0,0.3);
}
.image-card:hover ul li:nth-child(1){
   transition-delay: .2s;
}
.image-card:hover ul li:nth-child(2){
   transition-delay: .6s;
}
.image-card:hover ul li:nth-child(3){
   transition-delay: .8s;
}
.image-card:hover ul li:nth-child(4){
   transition-delay: 1s;
}
.image-card ul li i{
    font-size: 20px;
    color: tomato;
    background: rgba(255, 255, 255, 0);
}
.image-card:hover ul li{
    transform: perspective(800px) rotateY(0deg);
}
ul li span{
    position: absolute;
    left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    background: #333;
    color: tomato;
    border-bottom:1px solid rgba(0,0,0,.1);
    padding: 0px 10px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: all .5s;
}
ul li:hover span{
    left: 30px;
    opacity: 1;
    pointer-events: auto;
}