*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #be82eb 0%, #86b7e7 100%);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper .card{
    background-color: white;
    width: 400px;
    border-radius: 100px 20px 20px 100px;
    padding: 30px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay) );
}
.wrapper .card:nth-child(1){
   animation-delay: calc(3s * var(--delay) );
}
.wrapper:hover .card{
    animation-play-state: paused;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
   5% ,20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25% ,40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
     45% ,60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
     65% , 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
    
}
.card .content{
    display: flex;
    align-items: center;
}
.wrapper .card .img{
    height: 90px;
    width: 90px;
    position: absolute;
    left: -5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: 5px;
}
.card .img img{
height: 100%;
width: 100%;
border-radius: 50%; 
object-fit: cover;
}
.card .details{
    margin-left: 80px;
}
.details span{
    font-weight: 600;
    font-size: 18px;
}
.card a{
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 25px;
    color: white;
     background: linear-gradient(to bottom, #be82eb 0%, #86b7e7 100%);
}